@charset "UTF-8";
/*ヘッダー*/
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:#7EAF92;
}





/* ボディ */
body{
margin: 0;
font-family: sans-serif;
background-color: #D5FFD7;
color: #463B25;
text-align: center;
}


.nav ul{
display: flex;
list-style: none;
gap: 30px;
margin: 0;
padding: 0;
}

.nav a{
text-decoration: none;
color: #463B25;
font-size: 20px;
padding: 10px 20px;
border-radius: 999px;
}

.active{
background:#F6B4C3;
border-radius: 20px;
}
/* ワッパー */
.wrapper{
    min-height:100vh;
    position:relative;
    overflow:hidden;
}

/* ロゴサイズ */
.logo {
    width: 200px; /* 好きなサイズに変更 */
    height: auto; /* 縦横比を維持 */
    
}
/* 背景の丸 */

.circle{
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.pink{
    background: rgba(246, 180, 195, 0.7);
}

.green{
    background: rgba(122, 230, 127, 0.7);
}

.white{
    background: rgba(255, 255, 255, 0.7);
}

/* 左上 */
.left-top{
    width: 250px;
    height: 250px;
    top: 150px;
    left: -60px;
}

/* 右上 */
.right-top{
    width: 250px;
    height: 250px;
    top: 180px;
    right: 430px;
}

/* 文字の後ろ */
.center-left{
    width: 250px;
    height: 250px;
    top: 350px;
    left: 400px;
}

/* 右下 */
.right-bottom{
    width: 250px;
    height: 250px;
    bottom: -150px;
    right: 400px;
}

/* 左下 */
.left-bottom{
    width: 250px;
    height: 250px;
    bottom: -60px;
    left: -30px;
}

/* 右中央 */
.right-center{
    width: 250px;
    height: 250px;
    top: 250px;
    right: -50px;
}


   /*チェックリスト */
.check-card{
    width:400px;
    margin:30px auto;
    padding:30px;

    background:#FFFFFF;
    border: 2px solid #66FF00; 
    border-radius:35px;

    position:relative;
    z-index:1;
}


/*チェック前などの文字を包む円の大きさ*/
.section-title{
    width:250px;
    margin:0 auto 20px;

    text-align:center;
    padding:10px;

    background:#ebb6c3;
    border-radius:20px;

    font-weight:bold;
}

/*チェックリスト*/
#beforeList,
#afterList{
    list-style:none;
    padding:0;
    text-align: left;

}

#beforeList li,
#afterList li{
    margin:12px 0;
    font-size:30px;
    text-align: left; 
}

.item-check{
    width:22px;
    height:22px;
}

/*登録ボタン関連*/
input[type="text"]{
    width:350px;
    padding:20px;
    font-size: 20px;
    border-radius:15px;
    border:1px solid  #66FF00;
    
}

input[type="submit"]{
    padding:23px 30px;
    border:none;
    border-radius:15px;
    cursor:pointer;
     position: relative;
    z-index: 1;
}

input[value="登録"]{
    background:#ebb6c3;
    color:white;
    
}

input[value="削除"]{
    background:white;
    color:#66FF00;
    border:1px solid  #66FF00;
   
}