@charset "UTF-8";
/* 登録完了画面 */

.complete-page{
    position: relative;
    min-height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.complete-box{
    text-align: center;
    position: relative;
    z-index: 10;
}

.complete-box h2{
    font-size: 72px;
    font-weight: bold;
    color: #8B6E63;
    margin-bottom: 50px;
}

.back-btn{
    display: inline-block;
    width: 300px;
    padding: 12px 0;
    background: #fff;
    border: 1px solid #7CFF00;
    border-radius: 12px;

    color: #7CFF00;
    font-size: 28px;
    text-decoration: none;
}

.back-btn:hover{
    opacity: 0.8;
}
/* レスポンシブ */
@media screen and (max-width: 768px){
	
	main{
        width:95%;
        margin:20px auto;
    }
    .complete-page{
        min-height:75vh;
        padding:20px;
        box-sizing:border-box;
    }

    .complete-box h2{
        font-size:36px;
        margin-bottom:35px;
    }

    .back-btn{
        width:220px;
        font-size:20px;
        padding:12px 0;
    }

    /* 背景の丸を非表示 */
    .circle{
        display:none;
    }

}
