/*全体*/
body{
margin: 0;
font-family: sans-serif;
background-color: #D5FFD7;
color: #463B25;
}

/*ヘッダー*/
.header{
background-color: #7EAF92;
padding: 20px 50px;
display: flex;
justify-content: space-between;
align-items: center;
}

.nav ul{
display: flex;
list-style: none;
gap: 30px;
margin: 0;
padding: 0;
}

.nav a{
text-decoration: none;
color: #463B25;
font-size: 20px;
padding: 10px 20px;
border-radius: 999px;
}

.active{
background:#F6B4C3;
}
/* ロゴサイズ */
.logo {
    width: 200px; /* 好きなサイズに変更 */
    height: auto; /* 縦横比を維持 */
    
}

/* 検索画面 */
.search-page{
    position: relative;
    height: 700px;
    overflow: hidden;
}
/*上部エリア*/
main{
width: 90%;
margin: 50px auto;
}

.top-area{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 40px;
}

.count{
font-size: 25px;
font-weight: bold;
}

.sort-area{
display: flex;
align-items: center;
gap: 10px;
}

.sort-area label{
font-size: 20px;
}

.sort-area select{
border: none;
border-radius: 20px;

padding: 12px 20px;

font-size: 18px;
background-color: white;
}

/*一覧*/
.list-area{
display: flex;
flex-direction: column;
gap: 25px;
}

.item-card{
background-color: white;
border-radius: 30px;
padding: 25px;
display: flex;
align-items: center;
box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.item-name{
    width: 180px;
background-color: #F6B4C3;
border-radius: 25px;
text-align: center;
padding: 20px;
font-size: 24px;
font-weight: bold;
}

.item-date{
width: 240px;
margin-left: 25px;
padding-left: 40px;
border-left: 2px dotted #F6B4C3;
font-size: 20px;
}

.weather{
width: 120px;
text-align: center;
border-left: 2px dotted #F6B4C3;
font-size: 18px;
}

.item-place{
width: 160px;
padding-left: 40px;
border-left: 2px dotted #F6B4C3;
font-size: 20px;
}

.item-reason{
flex: 1;
padding-left: 40px;
border-left: 2px dotted #F6B4C3;
font-size: 20px;
}

/*ページング*/
.paging{
margin-top: 50px;
display: flex;
justify-content: center;
align-items: center;
gap: 15px;
}

.paging button{
width: 55px;
height: 55px;
border: none;
border-radius: 10px;
background-color: white;
font-size: 22px;
cursor: pointer;
}

.paging button:hover{
opacity: 0.8;
}

.paging span{
font-size: 22px;
}
/* 検索フォーム */
.search-form{
    width: 400px;
    margin: 80px auto;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.search-form input{
    height: 50px;
    border: 1px solid #9CE26B;
    border-radius: 12px;
    padding: 0 15px;
    font-size: 24px;
}

/* ボタンエリア */
.button-area{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

/* 検索ボタン */
.search-btn{
    width: 120px;
    height: 50px;

    border: none;
    border-radius: 10px;

    background-color: #F6B4C3;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

/* リセットボタン */
.reset-btn{
    width: 120px;
    height: 50px;

    border: 1px solid #9CE26B;
    border-radius: 10px;

    background-color: white;
    color: #66CC33;
    font-size: 18px;
    cursor: pointer;
}
.date-input {

    color: #7d7d7d;

    border: 2px solid #7CFF00;
    border-radius: 30px;

    background: #ffffff;

    outline: none;
}
.date-input:valid{
    color: #000000;
}
.search-form input:focus{
    outline: none;
    border: 2px solid #6ed127;
    box-shadow: none;
}
/* 通知設定画面 */
.date-area{
    text-align:center;
    margin-top:100px;
}

.date-area label{
    display:block;
    font-size:24px;
    margin-bottom:15px;
}
.time-label{
    margin-top:30px;
}

.date-area input[type="date"],
.date-area input[type="time"]{
    width:300px;
    height:50px;
    font-size:20px;
    padding:0 10px;
    border:2px solid #9CE26B;
    border-radius:10px;
}
/* ボタン */
.button-area{
    text-align:center;
}

.btn-register{
    background:#F5A9BC;
    color:white;
    border:none;
    border-radius:10px;
    width:140px;
    height:60px;
    font-size:24px;
    margin-right:20px;
    cursor:pointer;
}

.btn-reset{
    background:white;
    color:#7BEA52;
    border:2px solid #7BEA52;
    border-radius:10px;
    width:140px;
    height:60px;
    font-size:24px;
    cursor:pointer;
}
/* フォームをクリックしたとき */
.date-area input[type="date"]:focus,
.date-area input[type="time"]:focus{
    outline: none;
    border: 2px solid #33a74a;
}