@charset "UTF-8";

/* スクロールバー */
html {
    overflow-y: scroll;
}
/* 全体 */
body {
    margin: 0;
    font-family: sans-serif;
    background-color: #D5FFD7;
    color: #463B25;
}
/*ヘッダー*/
.header{
    background-color: #7EAF92;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*　ナビゲーション　*/
.nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}
.nav a{
    text-decoration: none;
    color: #463B25;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 999px;
}
/*　現在ページの表示　*/
.active{
    background:#F6B4C3;
}
/* ロゴサイズ */
.logo {
    width: 200px;
    height: auto;
}